<!-- /views/paper.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>SINATRA-RPS</title>
</head>

<body>
  <div><a href="/rock">Play Rock</a></div>
  <div><a href="/paper">Play Paper</a></div>
  <div><a href="/scissors">Play Scissors</a></div>

  <h2>We played paper!</h2>
  
  <% if @computer_choice == 1 %>
    <h2>They played rock!</h2>
    <h2>We won!</h2>
  <% elsif @computer_choice == 2 %>
    <h2>They played paper!</h2>
    <h2>We tied!</h2>
  <% else %>
    <h2>They played scissors!</h2>
    <h2>We lost!</h2>  
  <% end %>
    
  <div><a href="/">Rules</a></div>

</body>
</html>
